<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="Rosetta">
         <property
               name="appName"
               value="Rosetta">
         </property>
         <property
               name="aboutText"
               value="%aboutText">
         </property>
         <property
               name="aboutImage"
               value="images/about.png">
         </property>
         <property
               name="windowImages"
               value="images/eclipse16.png,images/eclipse32.png,images/eclipse48.png,images/eclipse64.png,images/eclipse128.png,images/eclipse256.png">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="io.opencaesar.rosetta.rcp.SplashHandler"
            id="io.opencaesar.rosetta.rcp.SplashHandler">
      </splashHandler>
      <splashHandlerProductBinding
            productId="io.opencaesar.rosetta.rcp.product"
            splashId="io.opencaesar.rosetta.rcp.SplashHandler">
      </splashHandlerProductBinding>
   </extension>

</plugin>
