<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="Rosetta">
         <property
               name="appName"
               value="Rosetta">
         </property>
         <property
               name="aboutText"
               value="Rosetta: Native OML Integration in Eclipse&#x0A;&#x0A;		Copyright © 2020 California Institute of Technology. Government Sponsorship Acknowledged.">
         </property>
         <property
               name="aboutImage"
               value="images/about.png">
         </property>
         <property
               name="windowImages"
               value="images/eclipse16.png,images/eclipse32.png,images/eclipse48.png,images/eclipse64.png,images/eclipse128.png,images/eclipse256.png">
         </property>
      </product>
   </extension>

</plugin>
