<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <!-- Commented for now to assess out of the box behavior
   <extension
         point="org.eclipse.emf.compare.rcp.matchEngine">
      <engineFactory
            class="io.opencaesar.rosetta.oml.ui.compare.OmlMatchEngineFactory"
            label="OML Match Engine Factory"
            ranking="42">
      </engineFactory>
   </extension>
   <extension
         point="org.eclipse.emf.compare.ide.ui.modelResolvers">
      <resolver
            class="io.opencaesar.rosetta.oml.ui.compare.OmlModelResolver"
            label="OML Model Resolver"
            ranking="42">
      </resolver>
   </extension>
   -->
   <extension
         id="nature"
         name="OML Project"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="io.opencaesar.rosetta.oml.ui.project.OmlProject">
         </run>
      </runtime>
      <builder
            id="io.opencaesar.rosetta.oml.ui.builder">
      </builder>
   </extension>
   <extension
         id="builder"
         name="OML Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            callOnEmptyDelta="true"
            hasNature="true"
            isConfigurable="false"
            supportsConfigurations="false">
         <run
               class="io.opencaesar.rosetta.oml.ui.project.OmlProjectBuilder">
         </run>
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="io.opencaesar.rosetta.oml.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            category="io.opencaesar.rosetta.oml.category.ID"
            class="io.opencaesar.rosetta.oml.wizards.OmlProjectWizard"
            finalPerspective="org.eclipse.sirius.ui.tools.perspective.modeling"
            icon="icons/oml.png"
            id="io.opencaesar.rosetta.oml.ui.wizards.OmlProjectWizard"
            name="OML Project"
            project="true">
      </wizard>
      <wizard
            category="io.opencaesar.rosetta.oml.category.ID"
            class="io.opencaesar.rosetta.oml.wizards.OmlOntologyWizard"
            finalPerspective="org.eclipse.sirius.ui.tools.perspective.modeling"
            hasPages="true"
            icon="icons/oml.png"
            id="io.opencaesar.rosetta.oml.ui.wizards.OmlOntologyWizard"
            name="OML Model"
            project="false">
      </wizard>
   </extension>
   <extension point="org.eclipse.ui.perspectiveExtensions"> 
	    <perspectiveExtension 
	        targetID="org.eclipse.sirius.ui.tools.perspective.modeling"> 
	        <newWizardShortcut id="io.opencaesar.rosetta.oml.ui.wizards.OmlProjectWizard"/> 
	        <newWizardShortcut id="io.opencaesar.rosetta.oml.ui.wizards.OmlOntologyWizard"/> 
	    </perspectiveExtension> 
   </extension> 
   <extension point="org.eclipse.ui.navigator.navigatorContent">
     <commonWizard
           menuGroupId="org.eclipse.sirius.category"
           type="new"
           wizardId="io.opencaesar.rosetta.oml.ui.wizards.OmlProjectWizard">
        <enablement>
           <with
                 variable="activeWorkbenchWindow.activePerspective">
              <equals
                    value="org.eclipse.sirius.ui.tools.perspective.modeling">
              </equals>
           </with></enablement>
     </commonWizard>
     <commonWizard
           type="new"
           wizardId="io.opencaesar.rosetta.oml.ui.wizards.OmlOntologyWizard">
        <enablement>
           <with
                 variable="activeWorkbenchWindow.activePerspective">
              <equals
                    value="org.eclipse.sirius.ui.tools.perspective.modeling">
              </equals>
           </with>
        </enablement>
     </commonWizard>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="help/toc.xml"
            primary="true">
      </toc>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="help/contexts.xml">
      </contexts>
   </extension>

</plugin>
