<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="io.opencaesar.rosetta.target">
	<locations>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<unit id="org.eclipse.platform.sdk" version="0.0.0"/>
			<unit id="org.eclipse.equinox.sdk.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.epp.mpc.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.pde.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.buildship.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.egit.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.jgit.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.jgit.ssh.apache.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.emf.sdk.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.emf.ecore.xcore.sdk.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.xtext.sdk.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.xtend.sdk.feature.group" version="0.0.0"/>
			<repository location="http://download.eclipse.org/releases/2022-03"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<unit id="org.eclipse.emf.compare.diagram.sirius.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.emf.compare.egit.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.emf.compare.rcp.ui.source.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.emf.compare.ide.ui.source.feature.group" version="0.0.0"/>
			<repository location="https://download.eclipse.org/modeling/emf/compare/updates/releases/3.3/R202111290942/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<unit id="org.eclipse.eef.sdk.feature.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.eef.ext.widgets.reference.feature.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.acceleo.ui.interpreter.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.acceleo.query.source.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.sirius.runtime.ide.ui.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.sirius.properties.feature.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.sirius.specifier.ide.ui.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.sirius.specifier.properties.feature.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.sirius.interpreter.feature.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.sirius.aql.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.sirius.diagram.elk.feature.feature.group" version="7.0.0.202202231547"/>
			<repository location="https://download.eclipse.org/sirius/updates/releases/7.0.0/2021-06/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<unit id="org.apache.xalan" version="2.7.2.v20201124-1837"/>
			<repository location="https://download.eclipse.org/tools/orbit/downloads/drops/R20220302172233/repository"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<unit id="org.eclipse.justj.openjdk.hotspot.jre.full.feature.group" version="0.0.0"/>
			<repository location="https://download.eclipse.org/justj/jres/11/updates/release"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<unit id="io.opencaesar.oml.sdk.feature.feature.group" version="0.0.0"/>
			<repository location="https://opencaesar.github.io/oml-p2"/>
		</location>
	</locations>
</target>